        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f9f9f9;
            color: #333;
        }

        /* Separate background image styling */
        .background {
            background-image: url('image-background.jpg');
            background-position: top left;
            background-size: contain;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 90px;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
        }

        .container img {
            width: 85%;
            height: 85%;
	    margin-left: -20px; 
        }

        .text-column {
            margin-left: 20px;
  	    padding: 10px;
        }

        h1 {
            font-size: 2.1rem;
            font-weight: 600;
            margin-bottom: 15px;
            text-align: left;
        }

        p {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.7;
            text-align: left;
        }

        /* Media Queries for responsiveness */
        @media screen and (max-width: 768px) {
            .background {
                background-image: url('image-mobile.jpg');
            }

            .container {
                flex-direction: column;
                text-align: center;
                padding-top: 20px;
            }
            
            .container img {
              width: 95%;
              height: 95%;
	      padding-top: 10px;
            }

            .text-column {
                margin-left: 0;
                margin-top: 30px;
		padding: 20px;
            }
            
            h1 {
              text-align: center;
            }
            
            p {
              text-align: center;
            }
