*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: rgba(18, 20, 16, 1);
    margin: 0;
    background: linear-gradient(to bottom right, rgba(210, 235, 255, 1), rgba(242, 239, 255, 1), rgba(241, 255, 223, 0.3));
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.6;
}


h1, h2 {
  font-weight: 700;
}

p {
  line-height: 1.6;
}

a {
    text-decoration: none;
    color: rgba(18, 20, 16, 1);
    transition: color 0.3s; 
}

a:hover, a:active {
    color: rgba(255, 2, 222, 1);
}

ul {
    list-style: none;
    padding: 0;
}

header {
    background-color: transparent;
}

.spacer {
  width: 100%;
  height: 2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    background-color: transparent;
    padding: 0 1rem;
    max-width: 1200px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
}

.desktop-nav ul {
    display: flex;
    gap: 1rem;
}

.desktop-nav a {
    padding: 0.8rem 1.2rem;
    font-weight: 400;
    border-radius: 25px; 
    transition: background-color 0.3s;
}

.desktop-nav a:hover {
    background-color: rgba(18, 20, 16, 1);
}

.cta-buttons {
    display: flex;
    gap: 1rem;
}

.cta {
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    font-weight: 500;
    text-align: center;
}

.custom-request {
    background-color: white;
    color: rgba(53, 19, 203, 1);
}

.consultation {
    background: rgba(255, 2, 222, 1);
    color: white;
}

.consultation:hover, .consultation:active {
    color: black;
}

.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer; /* Indicate that it's clickable */
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: transparent;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.mobile-nav ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Display links in a column */
    flex-direction: column; /* Stack links vertically */
    gap: 1rem; /* Add spacing between links */
    }

.mobile-nav a {
    margin-bottom: 0.5rem;
    border-radius: 25px; 
    transition: color 0.3s;
    text-align: center;
    color: rgba(18, 20, 16, 1); 
    font-weight: 400;
    }

    .mobile-nav a:hover {
        color: rgba(255, 2, 222, 1);
    }

.mobile-cta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    }
    
.mobile-cta a {
  background-color: rgba(255, 2, 222, 1);
    color: rgba(255, 255, 255, 1);
  
}
.mobile-cta-button {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-weight: 400;
    margin-bottom: 0.5rem;
    cursor: pointer; 
    width: fit-content;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    white-space: nowrap;
}

main {
    flex: 1;
}

/* Blog */
.blog {
  background-color: white;
}

.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Post Title */
.post-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Post Date */
.post-date {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Content Paragraph */
.content-paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Ordered List */
.content-list {
  margin-left: 10px;
  margin-bottom: 20px;
}

/* Share Buttons Container */
.share-buttons {
  background-color: rgba(253, 63, 219, 1); /* Equivalent of #fd3fdb */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Share Text Styling */
.share-text {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Social Media Icon Styling */
.share-buttons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgba(18, 20, 16, 1);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.share-buttons img {
  width: 20px;
  height: 20px;
}

/* Optional Responsive Design */
@media (max-width: 768px) {
  .share-buttons {
    flex-wrap: wrap;
  }
}


/* Author Box */
.author-box {
  margin-top: 30px;
  background-color: rgba(252, 240, 255, 1);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
}

/* Avatar, Name, and Title Box */
.author-info-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Author Avatar */
.author-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Author Details (Name and Title) */
.author-details {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.author-title {
  font-size: 1.1rem;
  color: #666;
  margin-top: 5px;
}

.author-bio {
  font-size: 1rem;
  line-height: 1.6;
}

/* Responsive Layout for Mobile */
@media (max-width: 768px) {
  .author-info-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .author-avatar {
    margin-bottom: 5px;
  }
}

/* Responsive Layout */
@media (max-width: 768px) {
  .post-title {
    text-align: left;
  }

  .post-date {
    text-align: left;
  }


}


footer {
    padding: 3rem 1rem;
    color: rgba(18, 20, 16, 1);
    background: transparent;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.footer-column {
    flex: 1 1 30%;
    margin-bottom: 1rem; 
}

.footer-column ul {
  gap: 1rem;
}

.footer-column li a {
  text-decoration: none;
  color: rgba(18, 20, 16, 1);
  line-height: 1.6;
}

.footer-column li a:hover {
  color: rgba(255, 2, 222, 1);
}

/* Increase the width of the first column */
.footer-column:first-child {
    flex: 1 1 40%; /* Adjust this value as needed */
}

.footer-column h3 {
    margin-bottom: 1rem;
}

.inner-padding {
  padding-right: 1rem;
}

/* Base styles for social icons */
.social-icons {
    display: flex;
    gap: 0.5rem; 
}

/* Style for the clickable circle around each icon */
.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%; 
    background-color: rgba(255, 2, 222, 1); 
    text-decoration: none; 
}

/* Style for the images inside the circles */
.icon-circle img {
    width: 1rem; 
    height: 1rem; 
}


.separator {
    max-width: 1200px;
    margin: 1rem auto;
    border: none;
    border-top: 1px solid rgba(52, 52, 52, 1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1rem auto;
}

.footer-bottom p, .footer-bottom a {
  margin: 0;
  font-size: 0.7rem;
}

.footer-bottom a {
  text-decoration: none;
  color: rgba(18, 20, 16, 1);
}

.footer-bottom a:hover {
  color: rgba(255, 2, 222, 1);
}

/* Mobile styles */
@media (max-width: 768px) {
    .hero-content h1 {
      font-size: 1.5rem;
    }
    
    .header-container {
      margin: 1rem auto;
    }
  
    .hero-content {
      margin: 2rem auto;
      text-align: left;
    }
    
    .mobile-menu-toggle {
        display: inline; 
    }
    
    .mobile-menu-toggle img {
        width: 2rem;
    }

    .desktop-nav, .cta-buttons {
        display: none;
    }

    .mobile-nav[aria-hidden="false"] {
        display: flex; /* Show mobile menu when active */
    }
    
    .project-snippet__button {
      width: 60%;
    }
    
    .footer-container {
        flex-direction: column; /* Stack footer columns on mobile */
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer-container {
        flex-wrap: wrap; /* Allow wrapping for tablet */
    }

    .footer-column {
        flex: 1 1 45%; /* Two columns on tablet */
        margin-bottom: 1rem;
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    .footer-column {
        flex: 1 1 20%; /* Four columns on desktop */
    }
}
