/* General resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: linear-gradient(to bottom right, rgba(210, 235, 255, 1), rgba(242, 239, 255, 1), rgba(241, 255, 223, 0.3));
  color: rgba(18, 20, 16, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form Container */
.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

/* Form Heading */
h2 {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* Form Group */
.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input::placeholder, textarea::placeholder {
  font-family: 'DM Sans', sans-serif; /* Placeholder text font */
}

input:focus, textarea:focus {
  border-color: rgba(255, 2, 222, 1);
  outline: none;
}

/* Textarea Resizing */
textarea {
  height: 150px;
  resize: none;
}

/* Submit Button */
button {
  background-color: rgba(255, 2, 222, 1);
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 25px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

/* Error Messages */
.error-message {
  color: #D8000C;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

#errorMessage {
  text-align: center;
  color: #D8000C;
  margin-bottom: 1rem;
}

/* Success and Error Message Styling */
#formResponse {
  text-align: center;
  margin-top: 1rem;
}

/* Style for success messages */
.success {
  color: green;
  background-color: #e6ffe6; /* Light green background */
  border: 1px solid green;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Style for error messages */
.error {
  color: red;
  background-color: #ffe6e6; /* Light red background */
  border: 1px solid red;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
