* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    line-height: 1.7;
}

.social-links-box {
    background-color: #1f1f1f;
    padding: 30px;
    width: 50vw;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.profile-picture img {
    width: 25%;
    height: 25%;
}

.profile-name {
    color: #f5f5f5;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.location {
    color: #b4d35c;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
    text-align: center;
}

.bio {
    color: #cfcfcf;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.button {
    display: block;
    width: 35vw;
    background-color: #333333;
    border: none;
    border-radius: 7px;
    color: #f3f3f3;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.button:hover, .button:active {
    background-color: #c3f727;
    border-color: transparent;
    color: #1f1f1f;
}

.footer {
    display: block;
    margin-top: 30px;
    padding: 10px;
}

.separator {
    border: none;
    border-top: 1px solid #c3f727;
    margin-top: 20px;
}

.footer-text {
    color: #f5f5f5;
    font-size: 14px;
    margin: 5px;
    text-align: center;
}

.footer-text a {
    color: #c3f727;
    text-decoration: none;
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    .social-links-box {
        width: 90vw;
    }
    .profile-name {
        font-size: 21px;
    }
    .location {
        font-size: 18px;
    }
    .button {
        width: 75vw;
    }
}
